# Ignore temporary editor files.
*.swp
*~

# Ignore project files
*.pyproj

# Ignore collected static and media files.
static/*
media/*

# Ignore dot files.
.*

# Ignore backup files.
*.orig
*.bak

# Ignore temporary editor files.
*.swp
*~

# Ignore binaries.
*.py[cod]
*.so
*.dll

# Ignore DB files
*.db

# Ignore work, deploy, node modules files
homepage/filenames_mac.set
homepage/filenames_win.set
Gruntfile.js
package.json
homepage/static/homepage.min.css
latest
node_modules/*
