<h3 ng-controller="ProjectCtrl" ng-bind="data.subdata[0].name"></h3>
<form action="#" method="get" role="form" class="form-horizontal">
    <table class="table table-stripped table-centered">
        <tr>
            <th>Data</th> <th>Tags</th>
        </tr>
        <tr ng-repeat="datum in data.subdata[0].data">
            <td>{{datum.data}}</td> <td ng-controller="ProjectCtrl"><div class="checkbox" ng-repeat="tag in data.subdata[0].tags"><label for="tag"><input type="checkbox" id="tag" name="tag">{{tag}}</label></div></td>
        </tr>
    </table>

    <div class="col-sm-12">
	  	<button type="submit" class="btn btn-primary">Submit Tags</button>
	</div>
</form>