<div class="container">
    <div class="jumbotron">
        <center>
            <h1>Welcome to Classifly!</h1>
            <p>Start using Classifly app now! It's easy and free!</p>
            <a href="#/register"><button class="btn btn-primary">Sign up</button></a>
            <a href="#/login"><button class="btn btn-success">Log in</button></a>
        </center>
    </div>
</div>
<div class="container">
        <h3>Public Project Listing</h3>
        <table class="table table-stripped table-centered">
            <tr>
                <th>#</th> <th>Project Name</th> <th>Summary</th>
            </tr>
            <tr ng-repeat="project in data.subdata">
                <td>{{$index+1}}</td> <td>{{project.name}}</td> <td>{{project.summary}}</td>
            </tr>
        </table>
</div>
