<div class="container">
	<h3 class="title">{{project.title|uppercase}}</h3>
	<br>
	<h4 class="title">Description</h4>
	<p>{{project.description}}</p>
	<h4 class="title">Help</h4>
	<p>{{project.help}}</p>
	<br>
	<left>
		<a ng-href="#/project/{{projectId}}" ng-show="part" type="button" class="btn btn-success" autofocus>Continue Tagging</a>
		<a ng-href="#/project/{{projectId}}" ng-hide="part || user==undefined" type="button" class="btn btn-success" ng-click="addUserToProject()" autofocus>Start Tagging</a>
		<a type="button" class="btn btn-primary" disabled="disabled">Request Data</a>
	</left>
</div>
