<!-- action="{% url "contribute" %}"   method="post" -->
<form role="form" class="form-horizontal" name="registerForm">
  <div class="form-group">
  	<label for="email" class="col-sm-2 control-label">Email address:</label>
  	<div class="col-sm-6">
  		<input type="email" class="form-control" id="email" ng-model="email" name="E-mail" placeholder="Enter e-mail" required>
  	</div>
  </div>
  <div class="form-group">
  	<label for="dname" class="col-sm-2 control-label">Display name:</label>
  	<div class="col-sm-6">
  		<input type="text" class="form-control" id="dname" ng-model="dname" name="Display name" placeholder="Enter display name" required>
  	</div>
  </div>
  <div class="form-group">
  	<label for="password" class="col-sm-2 control-label">Password:</label>
  	<div class="col-sm-6">
  			<input type="password" class="form-control" id="password" ng-model="password" name="Password" placeholder="Password" required>
  		</div>
  </div>
  <div class="form-group">
  	<label for="password2" class="col-sm-2 control-label">Repeat Password:</label>
  	<div class="col-sm-6">
  		<input type="password" class="form-control" id="password2" ng-model="password2" placeholder="Re-type password" required>
  	</div>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
  	<div class="checkbox">
    	<label for="checkbox">
      		<input type="checkbox" id="checkbox" name="Checkbox" required> I agree to the terms of this site!
    	</label>
  	</div>
  </div>
	<div class="col-sm-offset-2 col-sm-10">
  		<a href="#" id="register" type="submit" class="btn btn-primary" ng-show="registerForm.$valid" ng-hide="registerForm.$error" ng-click="registerUser()">Register</a>
      <a href="#" id="register" type="submit" class="btn btn-primary" ng-hide="registerForm.$valid" ng-show="registerForm.$error" disabled="disabled">Register</a>
  	</div>
</form>