<form action="#" method="get" role="form" class="form-horizontal">
	<div class="form-group">
    	<label for="fullName" class="col-sm-2 control-label">Full Name:</label>
    	<div class="col-sm-6">
    		<input type="text" class="form-control" id="fullName" name="fullName" placeholder="e.g. 'John Smith'" required>
    	</div>
  	</div>
  	<div class="form-group">
    	<label for="username" class="col-sm-2 control-label">Username:</label>
    	<div class="col-sm-6">
    		<input type="text" class="form-control" id="username" name="username" placeholder="Enter desired username" required>
    	</div>
  	</div>
  	<div class="form-group">
    	<label for="email" class="col-sm-2 control-label">E-mail Address:</label>
    	<div class="col-sm-6">
    		<input type="email" class="form-control" id="email" name="email" placeholder="Enter e-mail" required>
    	</div>
  	</div>
  	<div class="form-group">
    	<label for="password1" class="col-sm-2 control-label">Password:</label>
    	<div class="col-sm-6">
   			<input type="password" class="form-control" id="password1" name="password1" placeholder="Enter desired password" required>
   		</div>
  	</div>
  	<div class="form-group">
    	<label for="password2" class="col-sm-2 control-label">Repeat Password:</label>
    	<div class="col-sm-6">
    		<input type="password" class="form-control" id="password2" name="password2" placeholder="Retype desired password" required>
    	</div>
  	</div>
  	<div class="col-sm-offset-2 col-sm-10">
	  	<div class="checkbox">
	    	<label for="agreement">
	      		<input type="checkbox" id="agreement" name="agreement" required>Agree to terms of this site!
	    	</label>
	  	</div>
	</div>
	<div class="col-sm-offset-2 col-sm-10">
  		<button type="submit" class="btn btn-default">Cancel</button>
  		<button type="submit" class="btn btn-primary">Register</button>
  	</div>
</form>
