<form method="get" role="form" class="form-horizontal">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Display Name:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="username" name="Display Name" ng-model="dname" autofocus required>
    </div>
  </div>
  <div class="form-group">
    <label for="password0" class="col-sm-2 control-label">Old Password:</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="password0" name="Password0" ng-model="password0" placeholder="Old password" required>
    </div>
  </div>
	<div class="form-group">
  	<label for="password1" class="col-sm-2 control-label">Password:</label>
  	<div class="col-sm-6">
 			<input type="password" class="form-control" id="password1" name="Password1" ng-model="password1" placeholder="New password" required>
 		</div>
	</div>
	<div class="form-group">
  	<label for="password2" class="col-sm-2 control-label">Repeat Password:</label>
  	<div class="col-sm-6">
  		<input type="password" class="form-control" id="password2" name="Password2" ng-model="password2" placeholder="Re-type new password" required>
  	</div>
	</div>
	<div class="col-sm-offset-2 col-sm-10">
  		<button type="button" ng-click="changeUserData()" class="btn btn-primary">Update Info</button>
  </div>
</form>
